<!doctype html>
<html lang="en">
  <head>
	  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4343548529245340"
     crossorigin="anonymous"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Dashboard</title>

	<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



	<link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.css">
	<!-- Style CSS (White)-->
	<link rel="stylesheet" href="assets/css/White.css">
	<!-- Style CSS (Dark)-->
	<link rel="stylesheet" href="assets/css/Dark.css">
	<!-- FontAwesome CSS-->
	<link rel="stylesheet" href="assets/vendors/fontawesome/css/all.css">
	<!-- Icon LineAwesome CSS-->
	<link rel="stylesheet" href="assets/vendors/lineawesome/css/line-awesome.min.css">

</head>
<body>
  
  <!--Topbar -->
  <div class="topbar transition">
	<div class="bars">
		<button type="button" class="btn transition" id="sidebar-toggle">
			<i class="las la-bars"></i>
		</button>
	</div>
	<div class="menu">
	
		<ul>

			 <li>
				<div class="theme-switch-wrapper">
						<label class="theme-switch" for="checkbox">
							
							<div class="slider round"></div>
					  </label>
					</div>
				</li>

				

			<li>
				<div class="dropdown">
					<div class="dropdown-toggle" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<img src="//ditzzsenpai.wtf/assets/img/ngantuk.png" alt="Profile">
					</div>
					<div class="dropdown-menu" aria-labelledby="dropdownProfile">
						
						<a class="dropdown-item" href="//ditzzsenpai.wtf">
							<i class="las la-user mr-2"></i> My Profile
						</a>

						
					 
						
				</div>
			</li>
		</ul>
	</div>
</div>

	<!--Sidebar-->
	<div class="sidebar transition overlay-scrollbars">
		<div class="logo">
			<h2 style="font-weight: 700;" class="mb-0">DZSENPAI API</h2>
		</div>

		<div class="sidebar-items">
			<div class="accordion" id="sidebar-items">
				<ul>
					<p class="menu">Apps</p>
					<li>
						<a href="/" class="items">
							<i class="fa fa-tachometer-alt"></i>
							<span>Dashoard</span>
						</a>
					</li>

					
					<p class="menu">User Interface</p>

					<li id="headingOne">
						<a href="onclick();" class="submenu-items" data-toggle="collapse" data-target="#collapseOne"
							aria-expanded="true" aria-controls="collapseOne">
							<i class="fas fa-download"></i>
							<span>Social Media</span>
							<i class="fas la-angle-right"></i>
						</a>
					</li>
					<div id="collapseOne" class="collapse submenu" aria-labelledby="headingOne" data-parent="#sidebar-items">
						<ul>
 <li>     <a target="_blank" href="/api/music/joox?query=akad&apikey=APIKEY" target="_blank" >Joox search</a>
 <li>     <a target="_blank" href="/api/download/joox3?query=akad&apikey=APIKEY" target="_blank" >Joox search2</a>
 <li>     <a target="_blank" href="/api/download/joox2?query=akad&apikey=APIKEY" target="_blank" >Joox Media</a>
 <li>     <a target="_blank" href="/api/download/smule?url=https://www.smule.com/recording/lewis-capaldi-someone-you-loved-slower-piano/1112691877_3200708124&apikey=APIKEY" target="_blank" >Smule Download</a>
 <li>     <a target="_blank" href="/api/download/ytmp4?url=https://youtu.be/6l5V3BWDcMw&apikey=APIKEY" target="_blank" >Youtube Video</a>
 <li>     <a target="_blank" href="/api/download/ytmp42?url=https://youtu.be/6l5V3BWDcMw&apikey=APIKEY" target="_blank" >Youtube Video2</a>
 <li>     <a target="_blank" href="/api/download/ytmp3?url=https://youtu.be/6l5V3BWDcMw&apikey=APIKEY" target="_blank" >Youtube Audio</a>
 <li>     <a target="_blank" href="/api/download/ytmp32?url=https://youtu.be/6l5V3BWDcMw&apikey=APIKEY" target="_blank" >Youtube Audio2</a>
 <li>     <a target="_blank" href="/api/downloader/facebook?url=https://www.facebook.com/botikaonline/videos/837084093818982&apikey=APIKEY" target="_blank" >FB download</a>
 <li>     <a target="_blank" href="/api/downloader/fb?url=https://www.facebook.com/100044139564343/posts/375127390635243&apikey=APIKEY" target="_blank" >FB download2</a>
 <li>     <a target="_blank" href="/api/music/spotify?query=akad&apikey=APIKEY" target="_blank" >Spotify search</a>
 <li>     <a target="_blank" href="/api/downloader/pinterest?q=aeshestic&apikey=APIKEY" target="_blank" >pinterest search</a>
 <li>     <a target="_blank" href="/api/download/unplash?q=good night&apikey=APIKEY" target="_blank" >unplash search</a>
 <li>     <a target="_blank" href="/api/download/sticker?q=patrick&apikey=APIKEY" target="_blank" >stickerWA search</a>
 <li>     <a target="_blank" href="/api/download/stickerline?url=https://store.line.me/stickershop/product/9409/id=APIKEY" target="_blank" >stickerLINE search</a>
 <li>     <a target="_blank" href="/api/download/shoppe?q=jaket gunung&apikey=APIKEY" target="_blank" >shoppe search</a>
 <li>     <a target="_blank" href="/api/downloader/wallpaperflare?query=anime&apikey=APIKEY" target="_blank" >wallpaperflare search</a>
 <li>     <a target="_blank" href="/api/download/googleimg?query=kucing&apikey=APIKEY" target="_blank" >google img search</a>
 <li>     <a target="_blank" href="/api/download/apk?query=whatsapp&apikey=APIKEY" target="_blank" >Apk search</a>
 <li>     <a target="_blank" href="/api/download/apkdl?url=URL_NYA&apikey=APIKEY" target="_blank" >Apk download</a>
 <li>     <a target="_blank" href="/api/yt/playmp3?query=surender&apikey=APIKEY" target="_blank" >play mp3</a>
 <li>     <a target="_blank" href="/api/yt/playmp4?query=surender&apikey=APIKEY" target="_blank" >play mp4</a>
 <li>     <a target="_blank" href="/api/yt/search?query=surender&apikey=APIKEY" target="_blank" >yt search</a>
 <li>     <a target="_blank" href="/api/download/tiktok?url=https://vt.tiktok.com/ZSeJ7P56G&apikey=APIKEY" target="_blank" >Tiktok download</a>
 <li>     <a target="_blank" href="/api/download/tiktok2?url=https://vt.tiktok.com/ZSeJ7P56G&apikey=APIKEY" target="_blank" >Tiktok download2</a>
 <li>     <a target="_blank" href="/api/download/ig?url=https://www.instagram.com/p/CUU8PwHhU-9/?utm_medium=copy_link&apikey=APIKEY" target="_blank" >IG POST download</a>
 <li>     <a target="_blank" href="/api/downloader/igtv?url=https://www.instagram.com/tv/CSW1PMohXDm&apikey=APIKEY" target="_blank" >IG TV download</a>
 <li>     <a target="_blank" href="/api/downloader/igstory?username=attahalilintar&apikey=APIKEY" target="_blank" >IG STORY</a>
 <li>     <a target="_blank" href="/api/download/mediafire?url=https://www.mediafire.com/file/v035jsup2d2wp1n/textprome.js/file&apikey=APIKEY" target="_blank" >Mediafire download</a>
 <li>     <a target="_blank" href="/api/downloader/twitterimg?url=https://twitter.com/renaldypjs/status/1343516524934438912&apikey=APIKEY" target="_blank" >Twitter img download</a>
 <li>     <a target="_blank" href="/api/downloader/twittervid?url=https://twitter.com/weareoneEXO/status/1344811074864914433&apikey=APIKEY" target="_blank" >Twitter vid download</a>
 <li>     <a target="_blank" href="/api/stalk/ig?username=_sekhaa&apikey=APIKEY" target="_blank" >Stalk Instagram</a>
 <li>     <a target="_blank" href="/api/stalk/ig2?username=_sekhaa&apikey=APIKEY" target="_blank" >Stalk Instagram2</a>
 <li>     <a target="_blank" href="/api/stalk/github?username=inigw&apikey=APIKEY" target="_blank" >Stalk Github</a>
 <li>     <a target="_blank" href="/api/stalk/tiktok?username=attahalilintar&apikey=APIKEY" target="_blank" >stalk tiktok</a>
 <li>     <a target="_blank" href="/api/stalk/npm?query=hx&apikey=APIKEY" target="_blank" >stalk npm</a>
 <li>     <a target="_blank" href="/api/downloader/pornhub?query=japan&apikey=APIKEY" target="_blank" >Pornhub search</a>
 <li>     <a target="_blank" href="/api/downloader/xnxx?query=japan&apikey=APIKEY" target="_blank" >Xnxx search</a>
 <li>     <a target="_blank" href="/api/downloader/xvideo?query=japan&apikey=APIKEY" target="_blank" >Xvideos search</a>                             
                   

						 </ul>
					</div>


					<li id="headingTwo">
						<a href="onclick();" class="submenu-items" data-toggle="collapse" data-target="#collapseTwo"
							aria-expanded="true" aria-controls="collapseTwo">
							<i class="fas la-wrench"></i>
							<span>Image Maker</span>
							<i class="fas la-angle-right"></i>
						</a>
					</li>
					<div id="collapseTwo" class="collapse submenu" aria-labelledby="headingTwo" data-parent="#sidebar-items">
						<ul>

							<li>     <a href="/api/maker/harta-tahta?text=gwganz&apikey=APIKEY" target="_blank" >harta tahta</a>
 <li>     <a href="/api/maker/silverbutton?text=gwganz&apikey=APIKEY" target="_blank" >silver button</a>
 <li>     <a href="/api/maker/goldbutton?text=gwganz&apikey=APIKEY" target="_blank" >gold button</a>
 <li>     <a href="/api/maker/nulis?text=gwganz&apikey=APIKEY" target="_blank" >nulis</a>
 <li>     <a href="/api/maker/emoji2png?text=%F0%9F%98%85&apikey=APIKEY" target="_blank" >emoji to png</a>
 
                   <li style="font-size:16px; color:#fff; padding: 0px;"> Textprome Features</li>
 <li>     <a href="/api/textpro/magma?text=Ditzzy&apikey=APIKEY" target="_blank" >magma</a>
<li>     <a href="/api/textpro/hallowen-text?text=Ditzzy&apikey=APIKEY" target="_blank" >hallowen effect</a>
<li>     <a href="/api/textpro/neon-light?text=Ditzzy&apikey=APIKEY" target="_blank" >Neon light</a>
<li>     <a href="/api/textpro/broken-glass?text=Ditzzy&apikey=APIKEY" target="_blank" >broken glass</a>
<li>     <a href="/api/textpro/art-papper?text=Ditzzy&apikey=APIKEY" target="_blank" >Art papper</a>
<li>     <a href="/api/textpro/glossy?text=Ditzzy&apikey=APIKEY" target="_blank" >glossy</a>
<li>     <a href="/api/textpro/water-color?text=Ditzzy&apikey=APIKEY" target="_blank" >water color</a>
<li>     <a href="/api/textpro/multi-color?text=Ditzzy&apikey=APIKEY" target="_blank" >multi color</a>
<li>     <a href="/api/textpro/neon-devil?text=Ditzzy&apikey=APIKEY" target="_blank" >Neon devil</a>
<li>     <a href="/api/textpro/sky-text?text=Ditzzy&apikey=APIKEY" target="_blank" >sky text</a>
<li>     <a href="/api/textpro/luxury?text=Ditzzy&apikey=APIKEY" target="_blank" >luxury</a>
<li>     <a href="/api/textpro/vintage?text=Ditzzy&text2=canszz&apikey=APIKEY" target="_blank" >vintage</a>
<li>     <a href="/api/textpro/writing?text=Ditzzy&apikey=APIKEY" target="_blank" >Writing</a>
<li>     <a href="/api/textpro/engraved?text=Ditzzy&apikey=APIKEY" target="_blank" >Engraved</a>
<li>     <a href="/api/textpro/glue-text?text=Ditzzy&apikey=APIKEY" target="_blank" >Glue text</a>
<li>     <a href="/api/textpro/pornhub?text=Ditzzy&text2=cans&apikey=APIKEY" target="_blank" >porn HUB</a>
<li>     <a href="/api/textpro/holograpic?text=Ditzzy&apikey=APIKEY" target="_blank" >holograpic</a>
<li>     <a href="/api/textpro/deluxe-silver?text=Ditzzy&apikey=APIKEY" target="_blank" >deluxe silver</a>
<li>     <a href="/api/textpro/fabric?text=Ditzzy&apikey=APIKEY" target="_blank" >Fabric</a>
<li>     <a href="/api/textpro/wicker?text=Ditzzy&apikey=APIKEY" target="_blank" >wicker</a>
<li>     <a href="/api/textpro/larva?text=Ditzzy&apikey=APIKEY" target="_blank" >Larva</a>
<li>     <a href="/api/textpro/toxic-bokeh?text=Ditzzy&apikey=APIKEY" target="_blank" >Toxic</a>
<li>     <a href="/api/textpro/stroberi?text=Ditzzy&apikey=APIKEY" target="_blank" >strobery</a>
<li>     <a href="/api/textpro/koi?text=Ditzzy&apikey=APIKEY" target="_blank" >koi pish</a>
<li>     <a href="/api/textpro/bread?text=Ditzzy&apikey=APIKEY" target="_blank" >Bread</a>
<li>     <a href="/api/textpro/horor-blood?text=Ditzzy&apikey=APIKEY" target="_blank" >horor blood</a>
<li>     <a href="/api/textpro/honey?text=Ditzzy&apikey=APIKEY" target="_blank" >honey</a>
<li>     <a href="/api/textpro/ice?text=Ditzzy&apikey=APIKEY" target="_blank" >Ice</a>
<li>     <a href="/api/textpro/rusty?text=Ditzzy&apikey=APIKEY" target="_blank" >Rusty effect</a>
        <li>     <a href="/api/textpro/captain?text=Ditzzy&text2=cans&apikey=APIKEY" target="_blank" >captain Amerika</a>
       <li>     <a href="/api/textpro/3d-gradient?text=Ditzzy&apikey=APIKEY" target="_blank" >gradien</a>
       <li>     <a href="/api/textpro/christmas?text=Ditzzy&apikey=APIKEY" target="_blank" >christmas</a>
       <li>     <a href="/api/textpro/drop-water?text=Ditzzy&apikey=APIKEY" target="_blank" >drop water</a>
       <li>     <a href="/api/textpro/black-pink?text=Ditzzy&apikey=APIKEY" target="_blank" >blackpink</a>
       <li>     <a href="/api/textpro/logo-wolf?text=Ditzzy&text2&apikey=APIKEY" target="_blank" >Logo Wolf</a>
       <li>     <a href="/api/textpro/natural-leavest?text=Ditzzy&apikey=APIKEY" target="_blank" >Natural leavest</a>
       <li>     <a href="/api/textpro/logo-wolf2?text=Ditzzy&text2&apikey=APIKEY" target="_blank" >Logo Wolf 2</a>
       <li>     <a href="/api/textpro/harry-potter?text=Ditzzy&apikey=APIKEY" target="_blank" >Harry Potter</a>
       <li>     <a href="/api/textpro/3dstone?text=Ditzzy&apikey=APIKEY" target="_blank" >3D stone</a>
       <li>     <a href="/api/textpro/1917?text=Ditzzy&apikey=APIKEY" target="_blank" >1917</a>
       <li>     <a href="/api/textpro/thunder2?text=Ditzzy&apikey=APIKEY" target="_blank" >Thunder 2</a>
       <li>     <a href="/api/textpro/space?text=Ditzzy&text2=cans&apikey=APIKEY" target="_blank" >Space</a>
       <li>     <a href="/api/textpro/joker-logo?text=Ditzzy&apikey=APIKEY" target="_blank" >Joker logo</a>
       <li>     <a href="/api/textpro/hallowen?text=Ditzzy&apikey=APIKEY" target="_blank" >hallowen</a>
       <li>     <a href="/api/textpro/blood?text=Ditzzy&apikey=APIKEY" target="_blank" >Blood text</a>
       <li>     <a href="/api/textpro/astone?text=Ditzzy&apikey=APIKEY" target="_blank" >Astone</a>
       <li>     <a href="/api/textpro/grafity-text?text=Ditzzy&apikey=APIKEY" target="_blank" >Grafity text</a>
       <li>     <a href="/api/textpro/grafity-text2?text=Ditzzy&text2=cans&apikey=APIKEY" target="_blank" >Grafity text2</a>
       <li>     <a href="/api/textpro/ninja-logo?text=Ditzzy&text2=canszz&apikey=APIKEY" target="_blank" >Ninja logo</a>
       <li>     <a href="/api/textpro/lion-logo?text=Ditzzy&text2=cansz&apikey=APIKEY" target="_blank" >lion logo</a>
       <li>     <a href="/api/textpro/avengers-logo?text=Ditzzy&text2=cans&apikey=APIKEY" target="_blank" >Avengers</a>
       <li>     <a href="/api/textpro/marvel-logo2?text=Ditzzy&text2=cans" target="_blank" >Marvel studio</a>
<li style="font-size:16px; color:#fff; padding: 0px;"> Photoxry Features</li>
                    
   <li>     <a href="/api/photooxy/army?text=Ditzzy&apikey=APIKEY" target="_blank" >Army text</a>
 <li>     <a href="/api/maker/matrix?text=Ditzzy&apikey=APIKEY" target="_blank" >matrix</a>
 <li>     <a href="/api/maker/pubglogo?text1=Ditzzy&text2=cans&apikey=APIKEY" target="_blank" >PUBG</a>
 <li>     <a href="/api/maker/breakwall?text=Ditzzy&apikey=APIKEY" target="_blank" >breakwall</a>
 <li>     <a href="/api/photooxy/butterfly?text=Ditzzy&apikey=APIKEY" target="_blank" >butterfly</a>
 <li>     <a href="/api/photooxy/naruto?text1=Ditzzy&apikey=APIKEY" target="_blank" >naruto</a>
 <li>     <a href="/api/photooxy/smoke?text1=Ditzzy&apikey=APIKEY" target="_blank" >smoke text</a> 
 <li>     <a href="/api/photooxy/burn-papper?text=Ditzzy&apikey=APIKEY" target="_blank" >burn papper</a>
 <li>     <a href="/api/photooxy/love-message?text=Ditzzy&apikey=APIKEY" target="_blank" >love message</a>
 <li>     <a href="/api/photooxy/love-text?text=Ditzzy&apikey=APIKEY" target="_blank" >love text</a>
 <li>     <a href="/api/photooxy/coffe-cup?text=Ditzzy&apikey=APIKEY" target="_blank" >coffe cup</a>
 <li>     <a href="/api/photooxy/double-heart?text=Ditzzy&apikey=APIKEY" target="_blank" >double heart</a>
 <li>     <a href="/api/photooxy/glitch?text=Ditzzy&text2=cans&apikey=APIKEY" target="_blank" >glitch effect</a>
 <li>     <a href="/api/photooxy/message-under-grass?text=Ditzzy&apikey=APIKEY" target="_blank" >message under grass</a>                                                            
        
							 
						</ul>
					</div>
					
					<li id="headingThree">
						<a href="onclick();" class="submenu-items" data-toggle="collapse" data-target="#collapseThree"
							aria-expanded="true" aria-controls="collapseThree">
							<i class="fa fa-gamepad"></i>
							<span>Game API</span>
							<i class="fas la-angle-right"></i>
						</a>
					</li>
					<div id="collapseThree" class="collapse submenu" aria-labelledby="headingThree"
						data-parent="#sidebar-items">
						<ul>

						    <li>     <a target="_blank" href="/api/kuis/tebakGambar?apikey=APIKEY" target="_blank" >Tebak gambar</a>
 <li>     <a target="_blank" href="/api/game/tebaklirik?apikey=APIKEY" target="_blank" >Tebak lirik</a>
 <li>     <a target="_blank" href="/api/game/tebakkata?apikey=APIKEY" target="_blank" >Tebak kata</a>
 <li>     <a target="_blank" href="/api/game/tebakkalimat?apikey=APIKEY" target="_blank" >Tebak kalimat</a>
 <li>     <a target="_blank" href="/api/game/tebaktebakan?apikey=APIKEY" target="_blank" >Tebak tebakan</a>
 <li>     <a target="_blank" href="/api/game/tebakjenaka?apikey=APIKEY" target="_blank" >Tebak jenaka</a>
 <li>     <a target="_blank" href="/api/game/tebakbendera?apikey=APIKEY" target="_blank" >Tebak bendera</a>
 <li>     <a target="_blank" href="/api/game/tebakkimia?apikey=APIKEY" target="_blank" >Tebak kimia</a>
 <li>     <a target="_blank" href="/api/game/tebakchara?apikey=APIKEY" target="_blank" >Tebak chara</a>
 <li>     <a target="_blank" href="/api/kuis/caklontong?apikey=APIKEY" target="_blank" >Cak lontong</a>
 <li>     <a target="_blank" href="/api/game/family100?apikey=APIKEY" target="_blank" >family 100</a>

						</ul>
					</div>

					<li id="headingFor">
						<a href="onclick();" class="submenu-items" data-toggle="collapse" data-target="#simisimi"
							aria-expanded="true" aria-controls="simisimi">
							<i class="fas fa-smile"></i>
							<span>Simi Simi</span>
							<i class="fas la-angle-right"></i>
						</a>
					</li>
					<div id="simisimi" class="collapse submenu" aria-labelledby="headingFor"
						data-parent="#sidebar-items">
						<ul>

						         <li>     <a target="_blank" href="/api/fun/simisimi?text=assalamualaikum&apikey=APIKEYMU" target="_blank" >Simi IND</a>
 <li>     <a target="_blank" href="/api/fun/simisimi-ind2?text=hallo%20kak&apikey=APIKEYMU" target="_blank" >Simi IND2</a>
 <li>     <a target="_blank" href="/api/fun/simisimi2?text=how%20are%20you&apikey=APIKEYMU" target="_blank" >Simi EN</a>
 <li>     <a target="_blank" href="/api/fun/simisimi-en2?text=Hi%20friend%20&apikey=APIKEYMU" target="_blank" >Simi EN2</a>
 <li>     <a target="_blank" href="/api/fun/simisimi3?text=arigatou&apikey=APIKEYMU" target="_blank" >Simi JPN</a>
 <li>     <a target="_blank" href="/api/fun/simisimi-jp2?text=arigatou&apikey=APIKEYMU" target="_blank" >Simi JPN2</a>
 <li>     <a target="_blank" href="/api/fun/simisimi4?text=assalamualaikum ya aqhi&apikey=APIKEYMU" target="_blank" >Simi ARB</a>
 <li>     <a target="_blank" href="/api/fun/simisimi-ar2?text=la%20tahzan&apikey=APIKEYMU" target="_blank" >Simi ARB2</a>
       

						</ul>
					</div>
<li id="headingFip">
						<a href="onclick();" class="submenu-items" data-toggle="collapse" data-target="#imeg"
							aria-expanded="true" aria-controls="imeg">
							<i class="fas fa-image"></i>
							<span>Random Image</span>
							<i class="fas la-angle-right"></i>
						</a>
					</li>
					<div id="imeg" class="collapse submenu" aria-labelledby="headingFip"
						data-parent="#sidebar-items">
						<ul>

						    <li>     <a target="_blank" href="/api/wallpaper/trans?apikey=APIKEY">wallhp Transformers </a>
     <li>     <a target="_blank" href="/api/wallpaper/jeni?apikey=APIKEY">wallhp jeni blpk </a>
     <li>     <a target="_blank" href="/api/wallpaper/jiso?apikey=APIKEY">wallhp jisso blpkl </a>
     <li>     <a target="_blank" href="/api/wallpaper/cecan2?apikey=APIKEY">wallhp cecan </a>
     <li>     <a target="_blank" href="/api/wallpaper/cogan2?apikey=APIKEY">wallhp cogan </a>
     <li>     <a target="_blank" href="/api/wallpaper/satanic?apikey=APIKEY">wallhp satanic </a>
     <li>     <a target="_blank" href="/api/wallpaper/katakata?apikey=APIKEY">wallhp quotes </a>
     <li>     <a target="_blank" href="/api/wallpaper/pentol?apikey=APIKEY">wallhp pentol </a>
     <li>     <a target="_blank" href="/api/wallpaper/kartun?apikey=APIKEY">wallhp cartoon </a>
     <li>     <a target="_blank" href="/api/wallpaper/tatasurya?apikey=APIKEY">wallhp planet </a>
     <li>     <a target="_blank" href="/api/wallpaper/cyberspace?apikey=APIKEY">wallhp cyberspace </a>
     <li>     <a target="_blank" href="/api/wallpaper/gaming?apikey=APIKEY">wallhp gaming </a>
     <li>     <a target="_blank" href="/api/wallpaper/islami?apikey=APIKEY"> wallhp islami </a>
     <li>     <a target="_blank" href="/api/wallpaper/programing?apikey=APIKEY"> wallhp programing </a>
     <li>     <a target="_blank" href="/api/wallpaper/teknologi?apikey=APIKEY"> wallhp teknologi </a>
     <li>     <a target="_blank" href="/api/wallpaper/mountain?apikey=APIKEY"> wallhp mountain </a>
     <li>     <a target="_blank" href="/api/wallpaper/ryujin?apikey=APIKEY" target="_blank" >Random Ryujin ityz</a>
      <li>     <a target="_blank" href="/api/wallpaper/rose?apikey=APIKEY" target="_blank" >Random rose blpk</a>
      <li>     <a target="_blank" href="/api/wallpaper/justina?apikey=APIKEY" target="_blank" >Random justina xie</a>
      <li>     <a target="_blank" href="/api/wallpaper/random/blackpink?apikey=APIKEY" target="_blank" >Random blackpink</a>                        
      <li>     <a target="_blank" href="/api/wallpaper/doraemon?apikey=APIKEY" target="_blank" >Random Doraemon</a>                      
      <li>     <a target="_blank" href="/api/wallpaper/ppcouple?apikey=APIKEY" target="_blank" >Random ppcouple</a>
      <li>     <a target="_blank" href="/api/wallpaper/kpop?apikey=APIKEY" target="_blank" >Random kpop</a>
      <li>     <a target="_blank" href="/api/wallpaper/hekel?apikey=APIKEY" target="_blank" >Random hekel</a>
      <li>     <a target="_blank" href="/api/wallpaper/pubg?apikey=APIKEY" target="_blank" >Random PUBG</a>
      <li>     <a target="_blank" href="/api/wallpaper/cogan?apikey=APIKEY" target="_blank" >Random cogan</a>
      <li>     <a target="_blank" href="/api/wallpaper/cecan?apikey=APIKEY" target="_blank" >Random cecan</a>
      <li>     <a target="_blank" href="/api/wallpaper/aesthetic?apikey=APIKEY" target="_blank" >Random Aesthetic</a>
      <li>     <a target="_blank" href="/api/wallpaper/wallhp?apikey=APIKEY" target="_blank" >Random wallhp aesthetic</a>
      <li>     <a target="_blank" href="/api/wallpaper/anime?apikey=APIKEY" target="_blank" >Random wallhp anime</a>
      <li>     <a target="_blank" href="/api/asupan?apikey=APIKEY" target="_blank" >Random asupan</a>
      <li>     <a target="_blank" href="/api/wallpaper/kucing?apikey=APIKEY" target="_blank" >Random Kucing</a>
      <li>     <a target="_blank" href="/api/wallpaper/anjing?apikey=APIKEY" target="_blank" >Random Anjing</a>


						</ul>
					</div>
<li id="headingSix">
						<a href="onclick();" class="submenu-items" data-toggle="collapse" data-target="#nsfw"
							aria-expanded="true" aria-controls="nsfw">
							<i class="fa fa-heart"></i>
							<span>Nsfw</span>
							<i class="fas la-angle-right"></i>
						</a>
					</li>
					<div id="nsfw" class="collapse submenu" aria-labelledby="headingSix"
						data-parent="#sidebar-items">
						<ul>

						    <li>     <a target="_blank" href="/api/wallpaper/nsfwloli?apikey=APIKEY" target="_blank" >Nswf loli</a>
          <li>     <a target="_blank" href="/api/nsfw/ahegao?apikey=APIKEY" target="_blank" >nsfw ahegao</a>
 <li>     <a target="_blank" href="/api/nsfw/ass?apikey=APIKEY" target="_blank" >nsfw ass</a>
 <li>     <a target="_blank" href="/api/nsfw/bdsm?apikey=APIKEY" target="_blank" >Nswf bdsm</a>
 <li>     <a target="_blank" href="/api/nsfw/blowjob?apikey=APIKEY" target="_blank" >nsfw blowjob</a>
		  <li>     <a target="_blank" href="/api/nsfw/cuckold?apikey=APIKEY" target="_blank" >nsfw cuckold</a>
		  <li>     <a target="_blank" href="/api/nsfw/cum?apikey=APIKEY" target="_blank" >nsfw cum</a>
 <li>     <a target="_blank" href="/api/nsfw/ero?apikey=APIKEY" target="_blank" >nsfw ero</a>
 <li>     <a target="_blank" href="/api/nsfw/femdom?apikey=APIKEY" target="_blank" >nsfw femdom</a>
 <li>     <a target="_blank" href="/api/nsfw/foot?apikey=APIKEY" target="_blank" >nsfw foot</a>
		   <li>     <a target="_blank" href="/api/nsfw/gangbang?apikey=APIKEY" target="_blank" >nsfw gangbanh</a>
		   <li>     <a target="_blank" href="/api/nsfw/glasses?apikey=APIKEY" target="_blank" >nsfw glasses</a>
 <li>     <a target="_blank" href="/api/nsfw/hentai?apikey=APIKEY" target="_blank" >nsfw hentai</a>
 <li>     <a target="_blank" href="/api/nsfw/gifs?apikey=APIKEY" target="_blank" >nsfw gifs</a>
 <li>     <a target="_blank" href="/api/nsfw/jahy?apikey=APIKEY" target="_blank" >nsfw jahy</a>
		   <li>     <a target="_blank" href="/api/nsfw/manga?apikey=APIKEY" target="_blank" >nsfw manga</a>
		   <li>     <a target="_blank" href="/api/nsfw/masturbation?apikey=APIKEY" target="_blank" >nsfw mstb</a>
 <li>     <a target="_blank" href="/api/nsfw/neko?apikey=APIKEY" target="_blank" >nsfw neko</a>
 <li>     <a target="_blank" href="/api/nsfw/orgy?apikey=APIKEY" target="_blank" >nsfw orgy</a>
 <li>     <a target="_blank" href="/api/nsfw/panties?apikey=APIKEY" target="_blank" >nsfw panties</a>
		   <li>     <a target="_blank" href="/api/nsfw/pussy?apikey=APIKEY" target="_blank" >nsfw pussy</a>
		   <li>     <a target="_blank" href="/api/nsfw/neko2?apikey=APIKEY" target="_blank" >nsfw neko2</a>
		   <li>     <a target="_blank" href="/api/nsfw/tentacles?apikey=APIKEY" target="_blank" >nsfw tentacles</a>
 <li>     <a target="_blank" href="/api/nsfw/thighs?apikey=APIKEY" target="_blank" >nsfw things</a>
 <li>     <a target="_blank" href="/api/nsfw/yuri?apikey=APIKEY" target="_blank" >nsfw yuri</a>
 <li>     <a target="_blank" href="/api/nsfw/zettai?apikey=APIKEY" target="_blank" >nsfw zettai</a>

						</ul>
					</div>
<li id="heading7">
						<a href="onclick();" class="submenu-items" data-toggle="collapse" data-target="#animek"
							aria-expanded="true" aria-controls="animek">
							<i class="fa fa-paw"></i>
							<span>Anime</span>
							<i class="fas la-angle-right"></i>
						</a>
					</li>
					<div id="animek" class="collapse submenu" aria-labelledby="heading7"
						data-parent="#sidebar-items">
						<ul>

						         <li>     <a target="_blank" href="/api/random/cosplay?apikey=APIKEY" target="_blank" >Random Cosplay</a>
 <li>     <a target="_blank" href="/api/wallpaper/waifu?apikey=APIKEY" target="_blank" >Waifu</a>
 <li>     <a target="_blank" href="/api/wallpaper/waifu2?apikey=APIKEY" target="_blank" >Waifu2</a>                       
<li>     <a target="_blank" href="/api/wallpaper/shota?apikey=APIKEY" target="_blank" >shota</a>
		   <li>     <a target="_blank" href="/api/wallpaper/loli?apikey=APIKEY" target="_blank" >anime loli</a>
	      <li>     <a target="_blank" href="/api/wallpaper/yotsuba?apikey=APIKEY" target="_blank" >Random yotsuba</a>
<li>     <a target="_blank" href="/api/wallpaper/shinomiya?apikey=APIKEY" target="_blank" >Random shinomiya</a>
<li>     <a target="_blank" href="/api/wallpaper/yumeko?apikey=APIKEY" target="_blank" >Random yumeko</a>
<li>     <a target="_blank" href="/api/wallpaper/tejina?apikey=APIKEY" target="_blank" >Random tejina</a>
<li>     <a target="_blank" href="/api/wallpaper/chiho?apikey=APIKEY" target="_blank" >Random chiho</a>
 <li>     <a target="_blank" href="/api/wallpaper/boruto?apikey=APIKEY" target="_blank" >Random boruto</a>
 <li>     <a target="_blank" href="/api/wallpaper/kaori?apikey=APIKEY" target="_blank" >Random kaori</a>
<li>     <a target="_blank" href="/api/wallpaper/shizuka?apikey=APIKEY" target="_blank" >Random shizuka</a>
<li>     <a target="_blank" href="/api/wallpaper/kaga?apikey=APIKEY" target="_blank" >Random kaga</a>
<li>     <a target="_blank" href="/api/wallpaper/kotori?apikey=APIKEY" target="_blank" >Random kotori</a>
<li>     <a target="_blank" href="/api/wallpaper/mikasa?apikey=APIKEY" target="_blank" >Random mikasa</a>
<li>     <a target="_blank" href="/api/wallpaper/akiyama?apikey=APIKEY" target="_blank" >Random akiyama</a>
<li>     <a target="_blank" href="/api/wallpaper/gremory?apikey=APIKEY" target="_blank" >Random gremory</a>
<li>     <a target="_blank" href="/api/wallpaper/isuzu?apikey=APIKEY" target="_blank" >Random isuzu</a>
<li>     <a target="_blank" href="/api/wallpaper/shina?apikey=APIKEY" target="_blank" >Random shina</a>
<li>     <a target="_blank" href="/api/wallpaper/kagura?apikey=APIKEY" target="_blank" >Random kagura</a>
<li>     <a target="_blank" href="/api/wallpaper/shinka?apikey=APIKEY" target="_blank" >Random shinka</a>
<li>     <a target="_blank" href="/api/wallpaper/eba?apikey=APIKEY" target="_blank" >Random eba</a>
 <li>     <a target="_blank" href="/api/wallpaper/elaina?apikey=APIKEY" target="_blank" >Random elaina</a>
 <li>     <a target="_blank" href="/api/wallpaper/yuri?apikey=APIKEY" target="_blank" >Random yuri</a>
 <li>     <a target="_blank" href="/api/wallpaper/erza?apikey=APIKEY" target="_blank" >Random erza</a>
 <li>     <a target="_blank" href="/api/wallpaper/hinata?apikey=APIKEY" target="_blank" >Random hinata</a>
 <li>     <a target="_blank" href="/api/wallpaper/minato?apikey=APIKEY" target="_blank" >Random minato</a>
 <li>     <a target="_blank" href="/api/wallpaper/naruto?apikey=APIKEY" target="_blank" >Random Naruto</a>
 <li>     <a target="_blank" href="/api/wallpaper/sagiri?apikey=APIKEY" target="_blank" >Random Sagiri</a>
 <li>     <a target="_blank" href="/api/wallpaper/nezuko?apikey=APIKEY" target="_blank" >Random nezuko</a>
 <li>     <a target="_blank" href="/api/wallpaper/rize?apikey=APIKEY" target="_blank" >Random rize</a>
 <li>     <a target="_blank" href="/api/wallpaper/ana?apikey=APIKEY" target="_blank" >Random Anna</a>
 <li>     <a target="_blank" href="/api/wallpaper/deidara?apikey=APIKEY" target="_blank" >Random Deidara</a>
<li>     <a target="_blank" href="/api/wallpaper/yuki?apikey=APIKEY" target="_blank" >Random Yuki</a>
<li>     <a target="_blank" href="/api/wallpaper/ana?apikey=APIKEY" target="_blank" >Random Anna</a>
<li>     <a target="_blank" href="/api/wallpaper/asuna?apikey=APIKEY" target="_blank" >Random Asuna</a>
<li>     <a target="_blank" href="/api/wallpaper/ayuzawa?apikey=APIKEY" target="_blank" >Random Ayuzawa</a>
<li>     <a target="_blank" href="/api/wallpaper/chitoge?apikey=APIKEY" target="_blank" >Random Chitoge</a>
<li>     <a target="_blank" href="/api/wallpaper/emilia?apikey=APIKEY" target="_blank" >Random Emilia</a>
<li>     <a target="_blank" href="/api/wallpaper/hestia?apikey=APIKEY" target="_blank" >Random hestia</a>
<li>     <a target="_blank" href="/api/wallpaper/inori?apikey=APIKEY" target="_blank" >Random inori</a>
<li>     <a target="_blank" href="/api/wallpaper/itachi?apikey=APIKEY" target="_blank" >Random itachi</a>
<li>     <a target="_blank" href="/api/wallpaper/madara?apikey=APIKEY" target="_blank" >Random Madara</a>
 <li>     <a target="_blank" href="/api/wallpaper/sakura?apikey=APIKEY" target="_blank" >Random sakura</a>
 <li>     <a target="_blank" href="/api/wallpaper/sasuke?apikey=APIKEY" target="_blank" >Random Sasuke</a>
 <li>     <a target="_blank" href="/api/wallpaper/tsunade?apikey=APIKEY" target="_blank" >Random Tsunade</a>
 <li>     <a target="_blank" href="/api/wallpaper/onepiece?apikey=APIKEY" target="_blank" >Random one piece</a>
 <li>     <a target="_blank" href="/api/wallpaper/mobil?apikey=APIKEY" target="_blank" >Random mobil</a>
 <li>     <a target="_blank" href="/api/wallpaper/montor?apikey=APIKEY" target="_blank" >Random montor</a>
 <li>     <a target="_blank" href="/api/wallpaper/boneka-chucky?apikey=APIKEY" target="_blank" >Random boneka chucky</a>
      <li>     <a target="_blank" href="/api/wallpaper/keneki?apikey=APIKEY" target="_blank" >Random keneki</a>
 <li>     <a target="_blank" href="/api/wallpaper/megumin?apikey=APIKEY" target="_blank" >Random Megumin</a>
 <li>     <a target="_blank" href="/api/wallpaper/toukachan?apikey=APIKEY" target="_blank" >Random toukachan</a>
 <li>     <a target="_blank" href="/api/wallpaper/akira?apikey=APIKEY" target="_blank" >Random akira</a>
		   <li>     <a target="_blank" href="/api/wallpaper/itori?apikey=APIKEY" target="_blank" >Random itori</a>
		   <li>     <a target="_blank" href="/api/wallpaper/kurumi?apikey=APIKEY" target="_blank" >Random kurumi</a>
 <li>     <a target="_blank" href="/api/wallpaper/miku?apikey=APIKEY" target="_blank" >Random miku</a>
 <li>     <a target="_blank" href="/api/wallpaper/pokemon?apikey=APIKEY" target="_blank" >Random pokemon</a>


						</ul>
					</div>
<li id="heading8">
						<a href="onclick();" class="submenu-items" data-toggle="collapse" data-target="#canvas"
							aria-expanded="true" aria-controls="canvas">
							<i class="fa fa-universal-access"></i>
							<span>Canvas & Sticker</span>
							<i class="fas la-angle-right"></i>
						</a>
					</li>
					<div id="canvas" class="collapse submenu" aria-labelledby="heading8"
						data-parent="#sidebar-items">
						<ul>
 <li>     <a target="_blank" href="/api/maker/ttp?text=gw&apikey=APIKEY" target="_blank" >TTP maker</a>
 <li>     <a target="_blank" href="/api/maker/attp?text=gw&apikey=APIKEY" target="_blank" >ATTP MAKER</a>
 <li>     <a target="_blank" href="/api/canvas/welcome?username=Ditzzy&memberCount=257&gcname=Whatsapp Bot Nodejs&bg=&pp=https://avatars.githubusercontent.com/u/85196372?s=400&u=7ccec6bcffa37e5c4517d9ed53698944070b7063&v=4.jpg&pp=https://avatars.githubusercontent.com/u/85196372?s=400&u=7ccec6bcffa37e5c4517d9ed53698944070b7063&v=4.jpg&gcicon=https://avatars.githubusercontent.com/u/85196372?s=400&u=7ccec6bcffa37e5c4517d9ed53698944070b7063&v=4.jpg&apikey=APIKEY" target="_blank" >Welcome Canvas</a>
 
</ul>
</div>
					<p class="menu">My Social</p>

					<li id="headingThree">
						<a href="//Instagram.com/ftditzzxy" class="submenu-items" data-toggle="collapse" data-target="#collapsefour"
							aria-expanded="true" aria-controls="collapsefour">
							<i class="fab fa-instagram"></i>
							<span>Instagram</span>
							
						</a>
					</li>
					
					<li id="headingWangsaf">
						<a href="//wa.me/628988293493" class="submenu-items" data-toggle="collapse" data-target="#wngsf"
							aria-expanded="true" aria-controls="errros">
							<i class="fab fa-whatsapp"></i>
							<span>Whatsapp</span>
							
						</a>
					</li>
					<li id="headingWangsaf">
						<a href="//ditzzsenpai.wtf" class="submenu-items" data-toggle="collapse" data-target="#wngsf"
							aria-expanded="true" aria-controls="errros">
							<i class="fa fa-globe"></i>
							<span>Portofolio</span>
							
						</a>
					</li>
					
					</div>

					
			</div>
		</div>
	</div>

	<div class="sidebar-overlay"></div>


	<!--Content Start-->
	<div class="content transition">
		<div class="container-fluid dashboard">
			<h3>Dashboard</h3>
		
			<div class="row">

				<div class="col-md-6 col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-4 d-flex align-items-center">
									<i class="las la-id-card icon-home bg-primary text-light"></i>
								</div>
								<div class="col-8">
									<p>Visitor</p>
									<h5 id="visitor">Loading...</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-4 d-flex align-items-center">
									<i class="las la-clipboard-list icon-home bg-success text-light"></i>
								</div>
								<div class="col-8">
									<p>IP</p>
									<h5 id="ipanda"></h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-4 d-flex align-items-center">
									<i class="fab la-bandcamp  icon-home bg-info text-light"></i>
								</div>
								<div class="col-8">
									<p>Total Request</p>
									<h5 id="hit">5500</h5>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-4 d-flex align-items-center">
									<i class="las la-clock  icon-home bg-warning text-light"></i>
								</div>
								<div class="col-8">
									<p>Date</p>
									<h5 id="jam">256</h5>
									<small id="salam">256</small>
								</div>
							</div>
						</div>
					</div>
					

				</div>
		<div class="col-md-6 col-lg-3">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-4 d-flex align-items-center">
									<i class="las la-key  icon-home bg-dark text-light"></i>
								</div>
								<div class="col-8">
									<p>Apikey</p>
									<h5>Everyone</h5>
									<small>Jngan Di Spam Biar Ga down :D</small>
								</div>
							</div>
						</div>
					</div>
					</div>
				<div class="col-md-6">
					<div class="card">
						<h5 class="card-header">Server Info</h5>
						<div class="card-body">
							<div class="row mb-1">
								<div class="col-6 mt-4">
									Ram
								</div>
								<div class="col-6 mt-4 text-right" id="ram">
									20%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="row mt-4 mb-1">
								<div class="col-6">
									Cpu
								</div>
								<div class="col-6 text-right" id="cpusage">
									40%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="row mt-4 mb-1">
								<div class="col-6">
									Uptime
								</div>
								<div class="col-6 text-right" id="sysuptime">
									60%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="60"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="row mt-4 mb-1">
								<div class="col-6">
									Total CPU
								</div>
								<div class="col-6 text-right" id="cpucount">
									80%
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<div class="row mt-4 mb-1">
								<div class="col-6">
									Platform
								</div>
								<div class="col-6 text-right" id="platform">
									Complete!
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
									aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
					</div>
		
					<div class="row">
						
				

				<div class="col-md-6">
					<div class="card">
						<h5 class="card-header">Console Log</h5>
						<div class="card-body">
							<div id="logscuy" class="img-fluid p-5"></div>
							
							<a href="/console" target="_blank">Show In Json →</a>
						</div>
					</div>
					
					
			</div>
			</div>
			</div>
		
		</div>

	</div>

	<!-- Footer -->
	<div class="footer transition">
		<hr>
		<p>
			&copy; 2022 All Right Reserved <a href="#" target="_blank"></a>
		</p>
	</div>

	<!-- Loader -->
	<div class="loader">
		<img src="https://image.myanimelist.net/ui/2dz6EZS_LXve8zZh6qIGWZnnh3XfjCiHAdCoa2tpn6NFTjgseBMqh0dRqI2UOqvDLg3eYnqyxJcSwClJgIG4aQ">
		</div>
	</div>
	
	<div class="loader-overlay"></div>
	<script src="assets/vendors/bootstrap/js/jquery.min.js"></script>
	<script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendors/bootstrap/js/popper.min.js"></script>
	<script src="assets/js/script.js"></script>
	
 </body>
</html>
